.background {
  background-image: url('https://www.denpasarkota.go.id/public/uploads/Background_221903010352_pemerintah-kota-denpasar.jpg');
  background-size: cover; /* Untuk menyesuaikan ukuran latar belakang dengan jendela browser */
  background-repeat: no-repeat; /* Untuk mencegah pengulangan gambar */
}

.min-height {
    min-height: 100vh;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.br-1 {
    border-radius: 1rem;
}

.br-3 {
    border-radius: 3rem;
}

.b-2w {
    border: 2px solid white;
}

.radius {
    border-radius: 10px;
}

.map-overlay {
    position: absolute;
    z-index: 1000;
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    position: relative;
}

.btn a {
    text-decoration: none;
}

.w-200 {
    width: 200%;
}

.h-100 {
    height: 100%;
}

.w-45 {
    width: 45%;
}

.w-80 {
    width: 80%;
}

.shadow-1{
    box-shadow: 
        inset 5px 5px 15px rgba(0, 0, 0, 0.3),
        10px 10px 15px rgba(0, 0, 0, 0.3);
}

.shadow-3{
    box-shadow: 
        inset 5px 5px 15px rgba(0, 0, 0, 0.3),
        inset -5px -5px 15px rgba(0, 0, 0, 0.3);
}

.shadow-2{
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3);
}

.shadow-2:hover{
    box-shadow: 
        0px 0px 5px rgba(0, 0, 0, 0.3);
}

.p-fixed {
    position: fixed;
}

.shadow-4{
    box-shadow: 
        0px 0px 10px rgba(0, 0, 0, 0.3);
}

.tx-shadow {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.h-70 {
    height: 70%;
}

.close {
    margin-left: 90%;
    font-size: 24px;
    cursor: pointer;
}
.waiting-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    text-align: center;
}

.logo {
    margin-left: 15%;
    max-width: 200px;
    width: 100%;
}

#map {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.mt-7 {
    margin-top: 5%;
}

.card-edit {

}

.card-maps {
    width: 100%;
    height: 100%;
}

.dp-flex {
    display: flex;
}

.dp-in-table {
    display: inline-table;
}

.wd-90 {
    width: 90%;
}

.pagination button {
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 1rem;
    padding: 1% 2% 1% 2%;
    margin: 0% 2% 0% 2%;
}

.pagination span {
    padding: 1% 0% 1% 0%;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 1%;
}

.dp-in-grid {
    display: inline-grid;
}

.label-icon {
    font-size: 10px;
    color: black;
    text-align: center;
}
.label-text {
    background: white;
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid black;
}

@keyframes fadeout {
    0% {
        opacity: 1;
        width: 100%;
        height: calc(100vh - var(48px));
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}